
<div id="location">
  <h1> <%= @one_recipe.location %> Recipes </h1>
</div>

<% if !current_user %>
  <% @five_recipes.each_with_index do |recipe, index| %>
    <% if index == 0 %>
      <p> <%= image_tag(recipe.image, :size => "130x90") %> <%= link_to "#{recipe.title}", recipe_path(recipe.recipe_id) %>  </p>
    <% else %>
      <p> <%= image_tag(recipe.image, :size => "130x90") %> <%= recipe.title %> <i class="glyphicon glyphicon-lock" style='color: red'></i> </p>
 </p>
    <% end %>
  <% end %>
<% else %>
  <% @five_recipes.each do |recipe| %>
  <p> <%= image_tag(recipe.image, :size => "130x90") %> <%= link_to "#{recipe.title}", recipe_path(recipe.recipe_id) %> </p>
  <% end %>
<% end %>
