<center>
<h1><%= @recipe.title %></h1>

<h3>Recipe Region: <%= @recipe.location %></h3>





<% if current_user %>
  <div class="like-or-dislike-buttons">
    <%= button_to "Like", "/recipes/#{@recipe.recipe_id}/like", method: :post, params: { email: session[:email], vote: 'like'} %>

    <%= button_to "Dislike", "/recipes/#{@recipe.recipe_id}/dislike", method: :post, params: { email: session[:email], vote: 'dislike' } %>
  </div>
<% end %>
<br>
<img class="image"style="border-radius: 25%"<%= image_tag(@recipe.image) %>
<br>

<h3>Ingredients: </h3>

<div class="recipe-ingredients">
  <ul>
  <% @recipe.combined.each do |k,v| %>
    <li style="list-style: none"><%= k %>, <%= v %></li>
    <% end %>
  </ul>
</div>

<div class="recipe-instructions">
<h3>Instructions: </h3>
  <p><%= @recipe.instructions %></p>
</div>
</center>
