<h1><%= @recipe.title %></h1>

<h3>Recipe Region: <%= @recipe.location %></h3>

<h3>Ingredients: </h3>

<div class="recipe-ingredients">
  <%= image_tag(@recipe.image) %>

  <ul>
  <% @recipe.combined.each do |k,v| %>
    <li><%= k %>, <%= v %></li>
    <% end %>
  </ul>  
</div>

<div class="recipe-instructions">
<h3>Instructions: </h3>
  <p><%= @recipe.instructions %></p>
</div>

 <div class="like-or-dislike">
  <%= button_to "Like", "/recipes/#{@recipe.recipe_id}", method: :post, params: { email: session[:user_email], recipe_api_id: @recipe.recipe_id } %>
</div> 

