<!DOCTYPE html>
<html id="background">
  <head>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <style>
      #background {
        background: url(/assets/84cd2a9fbc6cbd5522b2f048a56703a8.jpg);
        width: 90%;
        height: 100%;
      }

      .header {
        color: #FFFFFF;
        background: url(/assets/banner2.jpeg);
        background-position: center;
      }

      #tabs {
        display:inline;
        margin-left: 10px;
        position:relative;
        left: 1000px
      }

      .home-button {
        text-align: left;
        position:relative;
        left: 17px;
        top: 35px;
      }
    </style>


    <%= render :partial => 'layouts/navbar' %>

  </head>

  <body style="margin: 0px;">

    <%= yield %>

  </body>
</html>
